<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="item">Angular Email</a>

    <div class="right menu">
      <!-- anytime an observable or promise emits a value or resolves, the async pipe receives the value -->
      <!-- and recalculates the ngIf -->
      <ng-container *ngIf="signedin$ | async">
      <a routerLink="/inbox" routerLinkActive="active" class="ui item">
        Inbox
      </a>
      <a routerLink="/signout" routerLinkActive="active" class="ui item">
        Sign Out
      </a>
    </ng-container>
    <ng-container *ngIf="!(signedin$ | async)">
      <a routerLink="/signin" routerLinkActive="active" class="ui item" [routerLinkActiveOptions]="{ exact: true }">
        Sign In
      </a>
      <a routerLink="/signup" routerLinkActive="active" class="ui item">
        Sign Up
      </a>
    </ng-container>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>


